{%extends 'layout.html'%}

{% block content %}
<div class="container">
    <h1>index.htmlを表示しています</h1>
    <p>{{ my_dict.data1 }}</p>
    <p>{{ my_dict.data2 }}</p>

    <h2>タイトル表示</h2>
    <ul>
        {% for title in my_dict.test_titles %}
            {% if title=="Title2" %}
                <li>{{ title }}</li>
            {%elif title=="Title3" %}
                <li>???</li>
            {% else %}
                <li>xxx</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}